@import url("https://fonts.googleapis.com/css2?family=Exo:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(230.55deg, #494aac, #211f46) !important;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Exo", sans-serif !important;
}

a:visited {
  text-decoration: none;
  color: #030303;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #494aac;
}

/* Handle on hover */

.mlCard1 {
  margin-left: 1rem;
}

.mlCard2 {
  margin-left: 2rem;
}

header {
  background: linear-gradient(40deg, #272655, #414196);
  width: 100%;
  padding: 2rem 0px;
  top: 0;
  z-index: 998;
}

header .newNavbar {
  max-width: 1600px;
  margin: 0 auto;

  padding: 0 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo img {
  width: 90%;
  margin-left: -2rem;
}

.hamburguer {
  width: 30px;
  height: 30px;

  background-color: transparent;
  border-radius: 5px;
  border: 0;

  position: relative;
  cursor: pointer;

  display: none;
}

.hamburguer:after {
  content: "";

  position: absolute;
  top: 35%;
  left: 15%;

  width: 70%;
  height: 10%;
  border-radius: 5px;

  background: #fff;
}

.hamburguer::before {
  content: "";

  position: absolute;
  top: 55%;
  left: 15%;

  width: 70%;
  height: 10%;
  border-radius: 5px;

  background: #fff;
}

.menu {
  list-style: none;
  display: flex;
  align-items: center;
}

.menu li {
  margin-left: 10px;
}

.entrar {
  color: #030303;
  border: 0;
  background: #ffcd33;
  width: 100%;
  padding: 0.4rem 2rem;
  transition: ease-in all 0.3s;
}

.entrar:hover {
  background: #fff;
}

.criarConta {
  color: #ffcd33;
  border: 0;
  background: none;
  border: 1px solid #ffcd33;
  width: 100%;
  padding: 0.4rem 2rem;
  transition: ease-in all 0.3s;
}

.criarConta:hover {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
}

.menu li a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #ffffff;
  transition: ease-in all 0.1s;
}

.menu li a:hover {
  color: #f27c2c;
}

@media screen and (min-width: 991px) and (max-width: 1199px) {
  .menu li a {
    padding: 0 0.3rem;
  }
}

@media screen and (max-width: 990px) {
  .mlCard1,
  .mlCard2 {
    margin: 0;
  }

  .hamburguer {
    display: block;
    z-index: 999;
  }

  header .logo img {
    width: 60%;
    padding: 0;
    margin: 0;
  }

  .menu {
    position: fixed;
    top: 0;
    right: -100%;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
      0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
      0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
      0 100px 80px rgba(0, 0, 0, 0.12);
    height: 100vh;
    margin: 0;
    background: linear-gradient(230.55deg, #494aac, #211f46) !important;

    width: 100%;
    max-width: 250px;

    padding: 100px 20px;

    flex-direction: column;
    transition: ease all 0.5s;
  }

  .menu .entrar {
    margin-top: 10rem;
  }

  .menu.active {
    right: 0;
  }
}

main {
  background: linear-gradient(100deg, #272655, #414196);
  color: #fff;
  padding-top: 5rem;
}

main .texto {
  padding-bottom: 4rem;
}

main h1 {
  font-size: 3rem;
  text-align: left;
  width: 80%;
}

main p {
  font-size: 1.3rem;
  width: 80%;
  font-weight: 300;
  padding-top: 1rem;
}

main button {
  background-color: #334cc1;
  width: 40%;
  padding: 1rem;
  color: #fff;
  border: 0;
  border-radius: 10px;
  margin-top: 2rem;
  transition: all 0.3s ease-in;
  font-size: 1.1rem;
  font-weight: 600;
}

main button:hover {
  background: #22389b;
}

main .imagem {
  text-align: center;
}

main .imagem img {
  width: 90%;
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  main {
    padding-top: 1rem;
  }

  main .texto {
    width: 100%;
    padding-top: 7rem;
  }

  main h1 {
    width: 100%;
  }

  main .imagem img {
    padding-top: 9rem;
  }
}

@media screen and (min-width: 991px) and (max-width: 1199px) {
  main {
    padding-top: 2rem;
  }

  main .texto {
    padding-top: 2rem;
  }

  main .imagem {
    padding-top: 6rem;
  }

  main .imagem img {
    width: 100%;
  }

  main h1 {
    width: 100%;
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 990px) {
  main h1 {
    font-size: 2rem;
    width: 100%;
    text-align: center;
  }

  main p {
    text-align: center;
    width: 100%;
  }

  main .botao {
    text-align: center;
  }

  main button {
    width: 90%;
  }
}

#apresentacao {
  color: #fff;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

#apresentacao .titulo {
  display: flex;
  text-align: left;
  justify-content: start;
  align-items: center;
}

#apresentacao .titulo h1 {
  padding-top: 0.8rem;
  padding-left: 0.5rem;
}

#apresentacao .titulo img {
  width: 2.5%;
}

#apresentacao .texto p {
  width: 70%;
  font-size: 1.3rem;
  font-weight: 300;
}

#apresentacao .cards {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

#apresentacao .newCard {
  background: #fff;
  color: #2b2b2b;
  width: 90%;
  padding: 2rem;
  height: 100%;
  border-radius: 20px;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
}

#apresentacao .newCard .titulo {
  display: flex;
  justify-content: space-between;
}

#apresentacao .newCard .titulo img {
  width: 10%;
}

#apresentacao .newCard p {
  font-size: 1.1rem;
  padding-top: 1rem;
}

@media screen and (max-width: 990px) {
  #apresentacao {
    text-align: center;
    padding-bottom: 3rem;
  }

  #apresentacao .texto p {
    width: 100%;
  }

  #apresentacao .titulo {
    text-align: center;
    justify-content: center;
    width: 100%;
  }

  #apresentacao .titulo img {
    width: 8%;
  }

  #apresentacao .cards {
    text-align: center;
  }

  #apresentacao .newCard {
    text-align: left;
    width: 90%;
    margin: 0 auto;
  }

  #apresentacao .marginXs {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  #apresentacao .marginXs2 {
    margin-top: 2rem;
  }
}

#pagamentos {
  background-size: cover;
  padding-top: 5rem;
  padding-bottom: 5rem;
  color: #fff;
}

#pagamentos .titulo {
  display: flex;
  align-items: center;
}

#pagamentos .titulo img {
  width: 7%;
}

#pagamentos .titulo h1 {
  padding-top: 0.8rem;
  padding-left: 0.5rem;
}

#pagamentos p {
  font-size: 1.3rem;
  font-weight: 300;
  padding-top: 1rem;
  width: 80%;
}

#pagamentos .tabela {
  background: #fff;
  color: #030303;
  border-radius: 20px;
  padding: 2rem;
}

#pagamentos .conteudo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
}

#pagamentos h5 {
  font-size: 1rem;
  width: 30%;
  color: #1d1b3f;
  font-weight: 400;
  text-align: left;
}

#pagamentos .tabela p {
  width: 100%;
}

#pagamentos .conteudo p {
  font-size: 1rem;
  text-align: center;
}

#pagamentos .tabela {
  margin-top: 3rem;
  position: relative;
  z-index: 100;
}

#pagamentos .imagem {
  position: absolute;
  left: 50%;
  z-index: 99;
}

#pagamentos .imagem img {
  width: 70%;
}

@media screen and (max-width: 990px) {
  #pagamentos .titulo {
    text-align: center;
    justify-content: center;
  }

  #pagamentos p {
    text-align: center;
    width: 100%;
  }

  #pagamentos .conteudo {
    flex-direction: column;
    padding: 0;
  }

  #pagamentos .conteudo h5 {
    width: 100%;
    text-align: center;
    padding-top: 1rem;
  }

  #pagamentos .imagem {
    display: none;
  }

  #pagamentos .tabela img {
    display: none;
  }
}

#ferramentas {
  background: #fff;
  padding-top: 5rem;
  padding-bottom: 5rem;
  color: #1d1c3f;
}

#ferramentas .titulo {
  display: flex;
  align-items: center;
}

#ferramentas h1 {
  font-weight: 500;
  padding-top: 0.8rem;
  padding-left: 0.5rem;
}

#ferramentas p {
  text-align: left;
  font-size: 1.3rem;
  font-weight: 300;
  padding-top: 0.5rem;
}

#ferramentas img {
  width: 5%;
}

#ferramentas .tabela {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

#ferramentas .conteudo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1rem;
}

#ferramentas h5 {
  font-size: 1rem;
  width: 30%;
  font-weight: 500;
}

#ferramentas .conteudo p {
  font-size: 1rem;
  font-weight: 400;
}

#ferramentas .conteudo img {
  width: 3%;
}

#ferramentas .imagem img {
  width: 50%;
}

@media screen and (max-width: 990px) {
  #ferramentas .imagem {
    text-align: center;
  }

  #ferramentas .titulo {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
  }

  #ferramentas h1 {
    font-size: 1.8rem;
    padding-top: 2rem;
  }

  #ferramentas .titulo img {
    width: 8%;
  }

  #ferramentas p {
    text-align: center;
    width: 100%;
    margin: 0 auto;
  }

  #ferramentas .conteudo img {
    display: none;
  }
}

#automatizar {
  background: #fff;
}

#automatizar .titulo {
  display: flex;
  justify-content: space-between;
}

#automatizar .titulo img {
  width: 3%;
}

#automatizar .cards {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

#automatizar .cards img {
  width: 90%;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

#automatizar .cards img:hover {
  transform: scale(1.02);
}

@media screen and (max-width: 990px) {
  #automatizar .titulo img {
    width: 6%;
  }

  #automaticar .cards {
    text-align: center;
    width: 100%;
    margin: 0 auto;
  }

  #automatizar .cards img {
    width: 90%;
    margin: 0 auto !important;
    text-align: center;
  }
}

#criar {
  background: linear-gradient(94.13deg, #f27c2c -12.34%, #ea3f3b 75.85%);
  padding-top: 2rem;
  padding-bottom: 2rem;
}

#criar p {
  color: #fff;
  font-size: 1.2rem;
  text-align: left;
}

#criar .botao {
  text-align: center;
}

#criar .botao button {
  background: #fff;
  border: 0;
  width: 50%;
  padding: 0.8rem;
  color: #eb403c;
  border-radius: 10px;
  font-weight: 600;
  font-size: 1.2rem;
  transition: all 0.3s ease-in;
}

#criar .botao button:hover {
  background: rgba(255, 255, 255, 0.8);
}

@media screen and (max-width: 990px) {
  #criar p {
    text-align: center;
  }

  #criar .botao {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  #criar .botao button {
    width: 90%;
  }
}

#conta {
  background: linear-gradient(138.77deg, #334cc1 -11%, #2e327f 69.52%);
  color: #fff;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

#conta .newCard {
  width: 80%;
}

#conta .newCard img {
  width: 15%;
}

#conta .newCard h2 {
  padding-top: 0.5rem;
  font-weight: 600;
}

#conta .newCard p {
  font-size: 1.2rem;
  font-weight: 300;
  padding-top: 1rem;
}

#conta .cardConta {
  background: #fff;
  color: #222047;
  border-radius: 20px;
  padding: 3rem;
  width: 100%;
  margin: 0 auto;
  margin-top: 3rem;
}

#conta .titulo {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 0.5rem;
  margin-bottom: 2rem;
}

#conta .titulo img {
  width: 4%;
}

#conta p {
  font-size: 1.2rem;
  width: 80%;
  font-weight: 300;
}

#conta .formulario {
  display: flex;
}

#conta .formulario form {
  width: 100%;
}

#conta .formulario input {
  width: 100%;
  padding: 0.8rem;
  padding-right: 10rem;
  margin-top: 1rem;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

#conta .formulario button {
  background: #26d46c;
  width: 100%;
  margin-top: 1rem;
  padding: 0.8rem;
  border-radius: 10px;
  border: 0;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
  outline: none;
  transition: all 0.3s ease-in;
}

#conta .formulario button:hover {
  background: #25ac5b;
}

@media screen and (max-width: 990px) {
  #conta .newCard {
    width: 90%;
    margin: 0 auto;
    margin-top: 1rem;
    text-align: center;
  }

  #conta p {
    width: 100%;
  }

  #conta .cardConta {
    text-align: center;
  }

  #conta .cardConta img {
    width: 8%;
  }

  #conta .formulario form {
    text-align: center;
    width: 100%;
    margin: 0 auto;
  }

  #conta .formulario input {
    width: 100%;
    padding: 0.8rem 3rem;
    padding-left: 1rem;
  }
}

footer {
  background: #334cc1;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: #fff;
}

footer .logo {
  text-align: left;
}

footer .logo img {
  width: 50%;
}

footer .copyright {
  text-align: right;
  padding-top: 1rem;
}

footer .copyright p {
  font-size: 1.2rem;
  font-weight: 300;
}

@media screen and (max-width: 990px) {
  footer .logo {
    text-align: center;
  }

  footer .copyright {
    text-align: center;
  }
}
